{%extends 'baza.html'%}


{%block b%}

<div class="row border border-danger rounded p-3 m-2 justify-content-center">

<div class="col-lg-6">

	<h1 class="h1 text-danger" style="font-family: var(--fonth1);">Kontakt.</h1>

	
	


<form  class="form" action="." method="POST">{%csrf_token%}
	{{form.as_p}}

	

	

	<button type="submit" name="submit" value="Wyślij wiadomość" class="btn btn-outline-danger ">
		Wyślij wiadomość
	</button>
	
</form>

</div>
</div>
{%endblock%}